*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* common shared styles */
body{
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1280px;
    margin: auto;

}
.btn-primary{
    border-radius: 5px;
    width: 160px;
    padding: 15px;
    background-color: #F15B22;
    color: #fff;
    border: 0;
}
/* header area css */
.header-area{
    background-image: url('/images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center left;

    display: flex;
    align-items: center;
    justify-content: right;
   
}
/* .header-area-text{
    position: absolute;
    left: 50%;
    top: 30%;
    right: 100px;
    text-align: right; */

        
/* } */
.header-area-text{
    width: 50%;
    text-align: right;
    padding: 0 5%;
    
}
.header-area-title{
    color:#151414;
   font-size: 65px;
   font-weight: 700;
  margin-bottom:25px; 
}
.header-area-discription{
    margin-bottom:25px; 
   color:#444343;
   font-size: 16px;
   font-weight: 400;

}
/* faliouors section  */
.faliours{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    
}
.faliours-text{
    /* display: flex; */
    /* align-items: center; */
    text-align: left;
    margin: 0 auto;
    width: 50%;
    
}
.faliours-img{
    width: 50%;
    text-align: center;
}
.faliours-description {
    width: 70%;
}
.faliours-title{
    /* text-align: center; */
    width: 288px;
    color: #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.faliours-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
/* my plan section */
.my-plan{
    padding: 60px;
    margin-top: 50px;
}
.section-title{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.plan-info{
    display: flex;
    justify-content: space-around;
}
.plan-details{
    text-align: center;
    padding: 60px;
    margin-top: 20px;
}
.plan-dis{
    margin-top: 5px;
    padding: 5px;
}
.plan-title{
    margin-top: 5px;
    padding: 5px;
}
/* mindset section */
.btn{
    border-radius: 5px;
    width: 160px;
    padding: 15px;
    background-color:#fff ;
    color: #F15B22;
    border: 0;
}
.mindset{
    background-image: url('../images/gradient2.png'),url('../images/watch.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin-left: 50px;
    padding: 60px 620px 150px 200px ;
}
.mind-set-title{
    width: 460px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;


}
/* fotter area css  */
.footer-area{
    background-color:  #151414;
    color: #fff;
    display: flex;
    width: 100%;
    margin-top: 100px;
    padding: 100px;
    gap: 40px;
}
.footer-left{
    width: 50%;
    text-align: left;
    
}
.footer-right{
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}
.input-email{
    width: 300px;
    height: 64px;
background-color: #151414;
color: #fff;
border-radius: 8px;
border: 1px solid #FFF;
text-align: center;
}
.footer-title{
    margin-bottom: 10px;
}
.footer-dis{
    margin-bottom: 20px;
}